<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .text-black {
      color: black;
    }
    a {
      color: white;
    }
  </style>
  <body style="background-color: white">
    <nav class="navbar" style="background-color: #a6a600">
      <a class="navbar-brand">My Book recommender</a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/recommend">Recommend</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    {% if error_msg != "" %}

    <div class="alert alert-danger" role="alert">{{ error_msg }}</div>

    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-black" style="font-size: 50px">
            Top 50 Books from our database
          </h1>
          <hr />
        </div>

        {% for i in range(book_name|length) %}
        <div class="col-md-3" style="margin-top: 50px">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="{{ image[i] }}" />
              <p class="text-black">{{ book_name[i] }}</p>
              <h4 class="text-black">{{ author[i] }}</h4>
              <h4 class="text-black">Votes - {{ votes[i] }}</h4>
              {% if rating[i] > 5 %}
              <h4 style="color: green;">
                Rating - {{ '%0.2f'| format(rating[i]|float) }}
              </h4>
              {% else %}
              <h4 style="color: red;">
                Rating - {{ '%0.2f'| format(rating[i]|float) }}
              </h4>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
